<!-- includes header partial -harman -->
<%- include('header') -%>
    <div id="map"></div>
<!-- includes maps api scripts -harman -->
<%- include('markerPlace') -%>
<!-- includes footer and javascript -harman -->
<%- include('footer') -%>




