<script type="text/javascript">
function initMap() {
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 10,
    center: {lat: 43.7000, lng:  -79.4000}
  });
  <% for(var i=0;i<locations.length;i++) { %>
    var marker = new google.maps.Marker({
      map: map,
      position: {lat: <%=locations[i].latitude %>, lng: <%= locations[i].longitude %>},
      locationId: <%= locations[i].id %>
    });
    var cityCircle = new google.maps.Circle({
      strokeColor: '#FF0000',
      strokeOpacity: 1.8,
      strokeWeight: 2,
      fillColor: '#FF0000',
      fillOpacity: Math.sqrt(<%=locations[i].total_visitors%>)*0.001,
      map: map,
      center: marker.position,
      radius: 100
    });
    google.maps.event.addListener(marker,'click', markerPost);
  <% } %>
}
</script>

<!-- modal -->
<div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" >
    <div class="modal-content">
    </div>
  </div>
</div>
