<script type="text/javascript">
function initMap() {
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 10,
    center: {lat: 43.7000, lng:  -79.4000}
  });

  <% for(var i=0;i<locations.length;i++) { %>
    var marker = new google.maps.Marker({
      map: map,
      position: {lat: <%=locations[i].latitude %>, lng: <%= locations[i].longitude %>},
      locationId: <%= locations[i].id %>
    });

    google.maps.event.addListener(marker,'click', function(){
      var $id = this.locationId;
      console.log($id);
      $.post('/',{marker: $id }, function(res){
        console.log(res);
        $('.modal-content').html("<p> Store name: "+res[0].name+"</p>\
                                    <p> Located in: "+res[0].city+","+res[0].country+"</p>\
                                    <p> Start of Day: "+res[0].start_of_day+"</p>")
       $('#myModal').modal('toggle');
      })
    });
  <% } %>
}
</script>

<!-- modal -->
<div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" >
    <div class="modal-content">
    </div>
  </div>
</div>
